.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}
